h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    background-image: url(https://img.freepik.com/free-photo/wall-wallpaper-concrete-colored-painted-textured-concept_53876-31799.jpg?size=626&ext=jpg);

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 10px;
}
